.mainBasket {
  width: 100%;
  height: 100vh;
  background-color: lightgray;
}
.emptyBasketSection {
  width: 80%;
  height: 350px;
  background-color: white;
  margin: 200px 40px;
  display: flex;
  align-items: center;
}
.emptyImgContainer {
  width: 30%;
  height: 100%;
  position: relative;
}
.emptyTextContainer {
  color: black;
  margin-left: 20px;
  h3 {
    font-size: 24px;
  }
  button {
    width: 250px;
    height: 30px;
    background-color: #ffd814;
    border: none;
    border-radius: 8px;
    color: black;
    &:hover {
      background-color: darken($color: #ffd814, $amount: 10%);
    }
  }
}
