// ***********************************empty basket
.emptyBasketMain {
  width: 80%;
  height: 250px;
  background-color: white;
  margin: 200px 40px;
  display: flex;
  align-items: center;
}
.emptyImgContainer {
  width: 30%;
  height: 100%;
  position: relative;
}
.emptyTextContainer {
  color: black;
  margin-left: 20px;
  h3 {
    font-size: 24px;
  }
  button {
    width: 250px;
    height: 30px;
    background-color: #ffd814;
    border: none;
    border-radius: 8px;
    color: black;
    &:hover {
      background-color: darken($color: #ffd814, $amount: 10%);
    }
  }
}
//*******************************************basket
.basketPageMain {
  color: black;
  width: 98vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.productsContainer {
  width: 83%;
  background-color: white;
  .header {
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(219, 219, 219);
    position: relative;
    margin-top: 20px;
    h2 {
      font-weight: 500;
      font-size: 28px;
      margin: 0;
    }
    span {
      position: absolute;
      right: 0px;
      bottom: 0;
      color: rgb(151, 151, 151);
    }
  }
  .subtotal {
    width: 97%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding: 20px 0px;
  }
  .subtotalPrice {
    font-weight: bold;
  }
}
.rightSection {
  width: 15%;
  background-color: white;
}
