.header {
  position: relative;
  width: 100%;
  height: 19vh;
  display: flex;
  justify-content: space-between;
  background-color: #202c3a;
  padding: 10px;
}
/* Left Options  */
.leftOptions {
  width: 40%;
  height: 6vh;
  display: flex;
  align-items: center;
}

.hambAndLogo {
  display: flex;
  align-items: center;
}
.hambIcon {
  font-size: 24px;
  cursor: pointer;
  @media screen and (min-width: 960px) {
    display: none;
  }
}
.logo {
  width: 80px;
  height: 25px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  @media screen and (min-width: 960px) {
    width: 125px;
    height: 35px;
  }
}
.fr {
  margin-bottom: 2px;
  font-size: 14px;
}

/* Right Options  */

.rightOptions {
  width: 28%;
  height: 6vh;
  display: flex;
  justify-content: space-between;

  @media screen {
  }
}
.mobileUserIcon {
  display: flex;
  align-items: center;
}

.connect {
  font-size: 12px;
  word-wrap: nowrap;
  width: max-content;
  margin-right: 10px;
  cursor: pointer;
}

.userIcon {
  font-size: 24px;
  cursor: pointer;
}
.desktopUserInfos {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100%;
  justify-content: space-around;
  p {
    margin: 0;
  }
}
.userDesktopAccount,
.userDesktopShipping {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  &:hover {
    border: 1px solid white;
  }
}
.userLogin {
  &:hover {
    cursor: pointer;
  }
}
.basketContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  cursor: pointer;
  padding-bottom: 8px;
  &:hover {
    border: 1px solid white;
    .itemsNb {
      top: -1px;
    }
    @media screen and (max-width: 960px) {
      border: none;
      .itemsNb {
        top: 0;
      }
    }
  }
}

.itemsNb {
  color: orange;
  position: absolute;
  width: max-content;
  font-weight: bold;
  right: 50%;
  top: 0;
  transform: translate(80%);
  @media screen and (max-width: 960px) {
    font-size: 12px;
  }
}
/* Search  */

.search {
  position: absolute;
  top: 8vh;
  width: 95%;
  border-radius: 8px;
  overflow: hidden;
}
.searchInput {
  width: 100%;
  height: 5vh;
  background-color: white;
  outline: none;
  border: none;
  color: black;
  padding-left: 10px;
  font-weight: 500;
}
.magnifyingGlassContainer {
  position: absolute;
  right: 0;
  top: 0;
  background-color: orange;
  height: 100%;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
.magnifyingGlass {
  color: black;
  font-size: 26px;
}

/* Choice */

.choiceContainer {
  position: absolute;
  bottom: 5px;
  height: 4vh;
  display: flex;
  overflow-x: auto;
  scrollbar-color: orange;
  width: 100%;
}
.span {
  margin-right: 10px;
  cursor: pointer;
  min-width: max-content;
  word-wrap: nowrap;
}
.span:hover {
  color: orange;
}

/* media querry  */
@media screen and (min-width: 960px) {
  .search {
    top: 2vh;
    left: 50%;
    width: 50%;
    transform: translate(-60%);
  }
  .magnifyingGlassContainer {
    width: 3vw;
  }
  .mobileUserIcon {
    display: none;
  }
}

@media screen and (max-width: 959px) {
  .desktopUserInfos {
    display: none;
  }
  .rightOptions {
    width: max-content;
  }
}
