.header {
  position: relative;
  width: 100%;
  height: 19vh;
  display: flex;
  justify-content: space-between;
  background-color: #202c3a;
  padding: 10px;
}
/* Left Options  */
.leftOptions {
  width: 40%;
  height: 6vh;
  display: flex;
  align-items: center;
}

.hambAndLogo {
  display: flex;
  align-items: center;
}
.hambIcon {
  font-size: 24px;
  cursor: pointer;
}
.logo {
  width: 80px;
  height: 25px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.fr {
  margin-bottom: 2px;
  font-size: 14px;
}

/* Right Options  */
.nav {
  height: 6vh;
}
.rightOptions {
  width: max-content;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.connect {
  font-size: 12px;
  word-wrap: nowrap;
  width: max-content;
  margin-right: 10px;
  cursor: pointer;
}

.userIcon {
  font-size: 24px;
  cursor: pointer;
}
.basketContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 45px;
  height: 100%;
  padding: 0;
  margin-left: 10px;
  cursor: pointer;
}
.itemsNb {
  color: orange;
  position: absolute;
  width: max-content;
  font-weight: bold;
  left: 60%;
  top: 5px;
  transform: translate(-45%);
}
/* Search  */

.search {
  position: absolute;
  top: 8vh;
  width: 95%;
  border-radius: 8px;
  overflow: hidden;
}
.searchInput {
  width: 100%;
  height: 5vh;
  background-color: white;
  outline: none;
  border: none;
  color: black;
  padding-left: 10px;
  font-weight: 500;
}
.magnifyingGlassContainer {
  position: absolute;
  right: 0;
  top: 0;
  background-color: orange;
  height: 100%;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
.magnifyingGlass {
  color: black;
  font-size: 26px;
}

/* Choice */

.choiceContainer {
  position: absolute;
  bottom: 5px;
  height: 4vh;
  display: flex;
  overflow-x: scroll;
  scrollbar-color: orange;
  width: 100%;
}
.span {
  margin-right: 10px;
  cursor: pointer;
  min-width: max-content;
  word-wrap: nowrap;
}
.span:hover {
  color: orange;
}
