.typeOfCategoryBody {
  width: 100%;
  height: 100vh;
  background-color: white;
}
.typeOfCategoryContainer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: auto;
}
.typeOfCategoryProductContainer {
  width: 25%;
  height: 450px;
  margin-bottom: 20px;
  color: black;

  &:hover {
    background-color: #eaeded;
    .typeOfCategoryImg {
      transform: scale(1.05);
    }
  }
}
.typeOfCategoryImgContainer {
  width: 70%;
  height: 60%;
  position: relative;
  margin: auto;
}
.typeOfCategoryImg {
  transition: transform 0.2s ease;
}
.typeOfCategoryProductDescriptionContainer {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 95%;
  margin: auto;
  position: relative;
}
.typeOfCategoryTitle {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-weight: 500;
}
.productRatingContainer {
  margin: 10px 0px;
}
.productPrice {
  font-weight: 600;
  font-size: 20px;
}
.button {
  width: 100%;
  height: 35px;
  background: linear-gradient(
    180deg,
    rgba(246, 222, 163, 1) 0%,
    rgba(240, 193, 77, 1) 100%
  );
  // margin: auto;
  border: 1px solid #846a29;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}
